[Unit]
Description=Autosar execution manager

[Service]
ExecStart=/usr/sbin/execution-manager
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
