Adam Klimkiewicz <adam.klimkiewicz@tieto.com> adam.klimkiewicz@tieto.com
Adam Klimkiewicz <adam.klimkiewicz@tieto.com> adkl271326 <extern.Adam.Klimkiewicz@elektrobit.com>
Ahmed Hossam <ahmed.hossam@opensynergy.com> <Ahmed.Hossam@opensynergy.com>
Ahmed Sayed-Hassan <ahmed.sayed-hassan@valeo.com> Ahmed SAYED-HASSAN <ahmed.sayed-hassan@valeo.com>
Akihiro Ohbo <ohbo.kh@ncos.nec.co.jp> akihiro.ohbo <ohbo.kh@ncos.nec.co.jp>
Alexander Dittrich <alexander.dittrich@vector.com> visald <alexander.dittrich@vector.com>
Alexander Irrgang <alexander.irrgang@vector.com> visair <alexander.irrgang@vector.com>
Alexey Novikov <alnoviko@luxoft.com> Alexey V. Novikov <alnoviko@luxoft.com>
Amr Ergawy <amr.ergawy@arccore.com> amr ergawy <amr.ergawy@arccore.com>
Andreas Tennert <andreas.tennert@tracetronic.de> andreas.tennert <andreas.tennert@tracetronic.de>
Anna Luara Alarcon Oliveira <aalarconoliveira@witekio.com> aalarconoliveira <aalarconoliveira@witekio.com>
Artem Larionov <artem.larionov@tieto.com> anlarionov <anlarionov@luxoft.com>
Artem Larionov <artem.larionov@tieto.com> Artem Larionov <anlarionov@luxoft.com>
Basant Das <basant.das@zf.com> basant.das@zf.com <basant.das@zf.com>
Benjamin Reemts <benjamin.reemts@itk-engineering.de> Benjamin Reemts <benjamin.reemts@_.com>
Benjamin Schwarz <Benjamin.Schwarz@vector.com> Schwarz, Benjamin <Benjamin.Schwarz@vector.com>
Benjamin Schwarz <Benjamin.Schwarz@vector.com> visbsz <Benjamin.Schwarz@Vector.com>
Benjamin Schwarz <Benjamin.Schwarz@vector.com> visbsz <benjamin.schwarz@vector.com>
Catalin Iacobet <ciacobet@airbiquity.com> Catalin Iacobet <catalin.iacobet@windriver.com>
Catalin Iacobet <ciacobet@airbiquity.com> ciacobet@airbiquity.com <ciacobet@airbiquity.com>
Christian Selbach <christian.selbach@itk-engineering.de> Christian Selbach <Christian.Selbach@itk-engineering.de>
Christian Selbach <christian.selbach@itk-engineering.de> cselbach <christian.selbach@itk-engineering.de>
Christopher Schwager <christopher.schwager@itk-engineering.de>  Christopher Schwager <Christopher.Schwager@itk-engineering.de>
Christopher Schwager <christopher.schwager@itk-engineering.de> Christopher Schwager <Christopher.Schwager@itk-engineering.de>
Chunchu Yang <chunchu.yang@pinteam.eu> mei <chunchu.yang@pinteam.eu>
Chunchu Yang <chunchu.yang@pinteam.eu> chunChu Yang <chunchu.yang@pinteam.eu>
Cornel Izbasa <cornel.izbasa@opensynergy.com> Cornel Izbasa <badc0ded@gmail.com>
Cornel Izbasa <cornel.izbasa@opensynergy.com> Cornel Izbasa <cornel.izbasa@carmeq.com>
Corrado Motta <corrado.motta@volvocars.com> Corrado <corrado.motta@volvocars.com>
Daiki Matsuda <matsuda.daiki@jp.panasonic.com> DaikiMatsuda <matsuda.daiki@jp.panasonic.com>
Damian Philipp <damian.philipp@vector.com> Philipp, Damian <Damian.Philipp@vector.com>
Damian Philipp <damian.philipp@vector.com> visdap <damian.philipp@vector.com>
Daniel Junske <DJunske@assystem.com> DJunske <DJunske@assystem.com>
Daniel Junske <DJunske@assystem.com> Daniel Junske <daniel.jusnke@berner-mattner.com>
Daniel Junske <DJunske@assystem.com> Daniel Junske <djunske@assystem.com>
Daniel Junske <DJunske@assystem.com> djunske <djunske@assystem.com>
Daniel Kroner <daniel.kroner@bmw.de> <Daniel.Kroner@bmw.de>
Daniel Kroner <daniel.kroner@bmw.de> q355934 <Daniel.Kroner@bmw.de>
David Brown <david.brown@arccore.com> Dave Brown <david.brown@arccore.com>
Denis Marin <dvmarin@luxoft.com> Denis <dvmarin@luxoft.com>
Dmitrii Burnaev <dburnaev@luxoft.com> dburnaev@luxoft.com <dburnaev@luxoft.com>
Dominik Skanda <Dominik.Skanda@vector.com> Skanda, Dominik <Dominik.Skanda@vector.com>
Dominik Skanda <Dominik.Skanda@vector.com> visdks <Dominik.Skanda@vector.com>
Evgenii Demin <edemin@luxoft.com> <EDemin@luxoft.com>
Evgenii Demin <edemin@luxoft.com> <cziffromanicus@gmail.com>
Evgenii Demin <edemin@luxoft.com> Evgenii Demin <emin@luxoft.com>
Fabian Bronner <fbronner@dspace.de> Fabian Bronner <FabianBr@dspace.de>
Fabien Aillerie <fabien.aillerie@3DS.com> fabien.aillerie@3DS.com <fabien.aillerie@3DS.com>
Fabien Aillerie <fabien.aillerie@3DS.com> Fabien Aillerie <fabien.aillerie@3ds.com>
Fadi Labib <fadi.labib@opensynergy.com> Fadi Labib <fla@os-lin-fla.open-synergy.com>
Florian Frank <f.frank@eu.denso.com> <f.frank@denso-auto.de>
Florian Frank <f.frank@eu.denso.com> <fschuettler@assystem.com>
Florian Frank <f.frank@eu.denso.com> Florian Schüttler <f.schuettler@denso-auto.de>
Gabor Kalmar <gabor.kalmar@siemens.com> Gabor Kalmar <gabor_kalmar@mentor.com>
Gabriel Girban <gabriel.2.girban@continental.com> <Gabriel.Girban@continetal-corporation.com>
Gabriel Girban <gabriel.2.girban@continental.com> <Gabriel.Girban@elektrobit.com>
Gabriel Girban <gabriel.2.girban@continental.com> <gabriel.girban@continental-corporation.com>
Gabriel Girban <gabriel.2.girban@continental.com> <gabriel.girban@elektrobit.com>
Gabriel Girban <gabriel.2.girban@continental.com> Girban <Gabriel.Girban@elektrobit.com>
Gabriel Girban <gabriel.2.girban@continental.com> gabriel girban
Gordan Markuš <gmarkus@luxoft.com> Gordan Markuš <gordan.markus@gmail.com>
Hafiz Muhammad Luqman <h.luqman@osb-ag.de> <h.luqman@autosar-experts.com>
Hafiz Muhammad Luqman <h.luqman@osb-ag.de> h.luqman@osb-ag.de <h.luqman@osb-ag.de>
Hans-Cristian Hecht <hans-christian.hecht@carmeq.com> hanschristian.hecht <hans-christian.hecht@carmeq.com>
Helio Chissini de Castro <helio.chissini-de-castro@bmw.de> Helio Chissini de Castro <helio@kde.org>
Holger Honz <Holger.Honz@vector.com> Holger <Holger.Honz@vector.com>
Holger Honz <Holger.Honz@vector.com> Honz, Holger <Holger.Honz@vector.com>
Holger Honz <Holger.Honz@vector.com> vishhz <Holger.Honz@vector.com>
Huzaifa Saadat <h.saadat@osb-ag.de> Huzaifa <H.Saadat@osb-ag.de>
Huzaifa Saadat <h.saadat@osb-ag.de> huzaifa.saadat <h.saadat@osb-ag.de>
Hyunyong Park <hrpark@popcornsar.com> hyunyongPark <hrpark@popcornsar.com>
J B Talvande <jbtalvande@sodius.com> jbtalvande@sodius.com <jbtalvande@sodius.com>
J B Talvande <jbtalvande@sodius.com> jbtalvande <jbtalvande@sodius.com>
Jaakko Aho <jaakko.aho@bmw.de> q294490 <jaakko.aho@bmw.de>
Johan Ekberg <johan.ekberg@vector.com> <johan.ekberg@arccore.com>
Johan Ekberg <johan.ekberg@vector.com> johan.ekberg@vector.com <johan.ekberg@vector.com>
Johan Ekberg <johan.ekberg@vector.com> vsarcjoek <johan.ekberg@vector.com>
Kavitha Nayak <kavitha.nayak@avinsystems.com> kavitha.nayak <kavitha.nayak@avinsystems.com>
Kenil Patel <kenil.patel@avinsystems.com> kenil.patel <kenil.patel@avinsystems.com>
Kevin Goez <kevin.goez@de.bosch.com> Goez Kevin (CR/AEH4) <Kevin.Goez@de.bosch.com>
Koki Onoda <koki_onoda@aptj.co.jp> vuonoda <koki_onoda@aptj.co.jp>
Kosuki Ohashi <kosuke.ohashi@toyota-europe.com> kosuke.ohashi@toyota-europe.com
Krishnaswamy Kannan <krishnaswamy.kannan@volvocars.com> kkannan1 <krishnaswamy.kannan@volvocars.com>
Kristina Volkova <kvolkova@luxoft.com> KVolkova <KVolkova@luxoft.com>
Kristina Volkova <kvolkova@luxoft.com> Kristina Volkova <KVolkova@luxoft.com>
Laura Strizu <laura.strizu@pinteam.eu>  laura <laura.strizu@pinteam.eu>
Laura Strizu <laura.strizu@pinteam.eu> laura.strizu@pinteam.eu <laura.strizu@pinteam.eu>
Lukas Scheurer <lukas.scheurer@cognizant-mobility.com> Lukas Scheurer <lukas.scheurer@esg-mobility.com>
Lukas Scheurer <lukas.scheurer@cognizant-mobility.com> lukas.scheurer@esg-mobility.com <lukas.scheurer@esg-mobility.com>
Mario Driussi <mario.driussi@v2c2.at> Driussi <mario.driussi@v2c2.at>
Mark Starovoytov <mstarovoytov@luxoft.com> Mark Starovoytov <MStarovoytov@luxoft.com>
Markus Bauer <Markus.2.Bauer@continental-corporation.com> Bauer Markus (uidt3020) <Markus.2.Bauer@continental-corporation.com>
Markus Bauer <Markus.2.Bauer@continental-corporation.com> Markus Bauer <markus.2.bauer@continental-corporation.com>
Markus Hosch <Markus.Hosch@bmw.de> Markus Hosch <markus.hosch@bmw.de>
Markus Schu <markus.schu@arccore.com> markus.schu <markus.schu@arccore.com>
Martin Willers <martin.willers@cariad.technology> Martin Willers <Martin.Willers@carmeq.com> Martin Willers <martin.willers@carmeq.com> Martin Willers <Martin.Millers@carmeq.com>
Matthew Posadas <posadas.mdas@nec.com> Matthew Posadas <posadas.mth@ncos.nec.co.jp>
Matthew Posadas <posadas.mdas@nec.com> posadas.mdas@nec.com <posadas.mdas@nec.com>
Matthias Bilger <Matthias.Bilger@bmw.de> Matthias Bilger <matthias.bilger@bmw.de>
Max-Ferdinand Suffel <Max-Ferdinand.Suffel@vector.com> vismsl <Max-Ferdinand.Suffel@vector.com>
Maximilian Düll <duell@develop-group.de> Maximilian Duell <duell@develop-group.de>
Michael Baumann <Michael.Baumann@vector.com> Baumann, Michael <Michael.Baumann@vector.com>
Michael Baumann <Michael.Baumann@vector.com> vismbn <Michael.Baumann@vector.com>
Michael Baumann <Michael.Baumann@vector.com> vismbn <michael.baumann@vector.com>
Michele D'Incecco <michele.dincecco@toyota-europe.com> kosuke.ohashi@toyota-europe.com <michele.dincecco@toyota-europe.com>
Michele D'Incecco <michele.dincecco@toyota-europe.com> michele.dincecco@toyota-europe.com <michele.dincecco@toyota-europe.com>
Mihaita Filip <mmfilip@assystem.com> Mihaita Filip <tmarcu@assystem.com>
Mircea Isac <Mircea.Isac@bmw.de> mircea <Mircea.Isac@bmw.de>
Moonshik Choi <moonshik.choi@lge.com> moonshik.choi <moonshik.choi@lge.com>
Muhammad Tayel <ext.muhammad.tayel@vector.com> Muhammad Tayel <muhammad.tayel@avelabs.com>
Muhammad Tayel <ext.muhammad.tayel@vector.com> Tayel, Muhammad <ext.Muhammad.Tayel@vector.com>
Muhammad Tayel <ext.muhammad.tayel@vector.com> vismul <ext.muhammad.tayel@vector.com>
Namita Namita <namita.namita@arccore.com> Namita <namita.namita@arccore.com>
Naveen Sathyanarayana <naveen.sathyanarayana@continental-corporation.com> Naveen S <naveen.sathyanarayana@continental-corporation.com>
Naveen Sathyanarayana <naveen.sathyanarayana@continental-corporation.com> Sathyanarayana Naveen (uidh3612) <naveen.sathyanarayana@continental-corporation.com>
Naveen Sathyanarayana <naveen.sathyanarayana@continental-corporation.com> Sathyanarayana Naveen <Naveen.Sathyanarayana@continental-corporation.com>
Naveen Sathyanarayana <naveen.sathyanarayana@continental-corporation.com> naveen.sathyanarayana@continental-corporation.com <naveen.sathyanarayana@continental-corporation.com>
Neelam Rana <neelam.rana@avinsystems.com> neelam.rana <neelam.rana@avinsystems.com>
Nitish Jha <nitish.jha@veoneer.com> nitish.jha@veoneer.com <nitish.jha@veoneer.com>
Oleg Efremov <oefremov@luxoft.com> Efremov <OEfremov@SPB.luxoft.com>
Oleg Efremov <oefremov@luxoft.com> Oleg <oefremov@luxoft.com>
Oleg Efremov <oefremov@luxoft.com> Oleg Efremov <legich55555@gmail.com>
Oleg Efremov <oefremov@luxoft.com> oefremov <oefremov@luxoft.com>
Pavlo Alkhimov <palkhimov-ext@assystemtechnologies.com> Pavlo Alkhimov <pavlo.alkhimov@expleogroup.com>
Pavlo Alkhimov <palkhimov-ext@assystemtechnologies.com> Pavlo Alkhimov <pavlo.alkhimov@pinteam.eu>
Pavlo Alkhimov <palkhimov-ext@assystemtechnologies.com> pavlo.alkhimov@pinteam.eu <pavlo.alkhimov@pinteam.eu>
Peter Reitsberger <peter.reitsberger@altran.com> Peter <peter.reitsberger@altran.com>
Reza Boroujerdi <reza.hojati.boroujerdi@volvocars.com> Rasa <reza.hojati.boroujerdi@volvocars.com>
Reza Boroujerdi <reza.hojati.boroujerdi@volvocars.com> rasa <reza.hojati.boroujedi@volvocars.com>
Rolland Dudemaine <rolland@ghs.com> rolland.dudemaine <rolland@ghs.com>
Ryosuke Takahashi <ryosuke_takahashi@nces.i.nagoya-u.ac.jp> ryosuke takahashi <ryosuke_takahashi@nces.i.nagoya-u.ac.jp>
Sathyanarayana Naveen <Naveen.Sathyanarayana@continental-corporation.com> Sathyanarayana Naveen (uidh3612) <uidh3612@ozd2274u.conti.de>
Sebastian Fuicu <sebastian.fuicu@elektrobit.com> sebastian.fuicu <extern.sebastian.fuicu@elektrobit.com>
Sebastian Fuicu <sebastian.fuicu@elektrobit.com> sebastian.fuicu <sebastian.fuicu@elektrobit.com>
Sebastian Fuicu <sebastian.fuicu@elektrobit.com> sefu261641 <sebastian.fuicu@elektrobit.com>
Sebastian Fuicu <sebastian.fuicu@elektrobit.com> sebastian.fuicu@elektrobit.com <sebastian.fuicu@elektrobit.com>
Sebastian Waldvogel <Sebastian.Waldvogel@vector.com> Waldvogel, Sebastian <Sebastian.Waldvogel@vector.com>
Sebastian Waldvogel <Sebastian.Waldvogel@vector.com> visswa <sebastian.waldvogel@vector.com>
Selvaraj Muppidathi <selvaraj.muppidathi@zf.com> selvaraj.muppidathi@zf.com <selvaraj.muppidathi@zf.com>
Sergei Baigudin <sbaigudin@luxoft.com> Sergey Baigudin <sbaigudin@luxoft.com>
Sergei Kostiunin <SKostyunin@luxoft.com> Sergei Kostiunin <skostyunin@luxoft.com>
Sergey Golovashych <SGolovashych@luxoft.com> sgolov <sgolov@gmail.com>
Sergey Ovcharenko <sovcharenko@luxoft.com> Sergii Ovcharenko <sovcharenko@luxoft.com>
Swaraj Somala <swaraj_somala@avinsystems.com> <swaraj.somala@avinsystems.com>
Swaraj Somala <swaraj_somala@avinsystems.com> swaraj somala <swaraj_somala@avinsystems.com>
Thavamani Andavar <Thavamani.Andavar@in.bosch.com> Thavamani <Thavamani.Andavar@in.bosch.com>
Thomas Matt <thomas.matt@continental-corporation.com> Thomas M. Galla <thomas.galla@elektrobit.com>
Thomas Matt <thomas.matt@continental-corporation.com> Thomas M. Gallla <thomas.galla@elektrobit.com>
Tudor Marcu <tmarcu@assystem.com> Tudor Marcu <tmarcu@assystemtechnologies.com>
Uday Prasad <udayprasad.m@avinsystems.com> Uday <udayprasad.m@avinsystems.com>
Uwe Maucher <Uwe.Maucher@bmw.de> Uwe Maucher <uwe.maucher@bmw.de>
Uwe Maucher <Uwe.Maucher@bmw.de> q294680 <Uwe.Maucher@bmw.de>
Varshini P <varshini.p@continental-corporation.com>  <null> <null>
Varshini P <varshini.p@continental-corporation.com> P Varshini (uia98908) <uia98908@ozd2274u.conti.de>
Varshini P <varshini.p@continental-corporation.com> varshini.p@continental-corporation.com <varshini.p@continental-corporation.com>
Vlad Nemoianu <Vlad.Nemoianu@Continental-Corporation.com> Vlad Nemoianu <Vlad.Nemoianu@elektrobit.com>
Vladyslav Samodelok <vsamodelok@luxoft.com> Vladyslav Samodelok <VSamodelok@luxoft.com>

